.hero {
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero__text {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.hero__text {
    color: var(--color-minitext);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}